main {
    padding: 0 5.25rem;
}

.container-box > .box {
    width: 18.63rem;
    height: 18.63rem;
    background-color: #201717;
    border-radius: 24px;
}
 .container-box  {
    width: 100%;
    display: flex;
    gap: 1.5rem;
    margin-top: 1.5rem;
}